#nibelcole,
.hnibel  {
    background-image: url(../images/1618594220_37-funart_pro-p-oboi-fon-fon-stranitsi-38.jpg);
}
#maria,
.hmaria {
    background-image: url(../images/lovepik-internet-high-tech-wallpaper-background-image_500564521.jpg);
}
#marina,
.hmarina  {
    background-image: url(../images/360_F_417855834_z7m48bCUvIXv0OrOdmX3JRzYlHn1FvI5.jpg);
}

.hnibel {
    box-shadow: inset 2px 2px black;
}