@font-face {
    font-family: 'Capture it';
    font-style: arial;
    font-weight: 400;
    src: url(../fonts/Capture\ it.ttf);
}
@font-face {
    font-family:'Orbitron Light';
    font-style: arial;
    font-weight: 400;
    src: url(../fonts/orbitron-light_[allfont.ru].ttf);
}
@font-face {
    font-family: 'Laptev';
    font-style: arial;
    font-weight: 400;
    src: url(../fonts//Laptev_Brush.otf);
}